certifi==2017.11.5
chardet==3.0.4
Click==7.0
Django==1.11.6
django-admin-tools==0.8.1
django-admin-tools-stats==0.9.0
django-appconf==1.0.2
django-bower==5.2.0
django-chart-tools==1.0
django-compressor==2.2
django-jsonfield==1.0.1
django-nvd3==0.9.7
django-qsstats-magic==1.0.0
djangorestframework==3.7.1
djcacheutils==3.0.0
drfapikey==0.0.3
Flask==0.12.3
gunicorn==19.7.1
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
python-memcached==1.59
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
Unidecode==1.0.22
urllib3==1.22
Werkzeug==0.15.3
